.default-color0.chart-series-line {
    -fx-stroke-color: #d35400;
}
.chart-series-line {
    -fx-stroke-width: 3px;
    -fx-effect: null;
}
.chart-title {
  -fx-font-weight: 100;
}
.root {
    -fx-background-color: #ecf0f1;
}
.button {
    -fx-padding: 8px 30px;
    -fx-margin: 10px 1px;
    -fx-background-color: #e4e4e4;
    -fx-font-weight: 100;
}
.button:hover {
    -fx-background-color: #e78127;
}
.button:active {
      -fx-background-color: #EEEEEE;
      -fx-color: rgba(0,0,0, 0.87);
}
.button:pressed{
    -fx-background-color: white;
}
#radioGroup {
    -fx-font-size: 14px;
}

.radio-button .radio {
    -fx-padding: 4px;
}
.radio-button .radio:selected {
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-focus-color: transparent;

}
.radio-button .dot {
    -fx-background-radius: 10px;
    -fx-padding: 5px;
}
.radio-button:hover .radio {
    -fx-background-color: #e78127;
}
#sceneTitle {
    -fx-font-size: 18px;
}